.list-main-item
  .list-main-item-header

  .list-main-item-body
    h4: a(ng-href='#/earthquake/{{earthquake.eqid}}') {{::earthquake.region}}
    p.byline {{::earthquake.timedate}}

    dl.list-main-item-body-dl
      dt Depth
      dd {{::earthquake.depth}}
      dt Magnitude
      dd {{::earthquake.magnitude}}
      dt Source
      dd {{::earthquake.magnitude}}
