//- LiveReload
script(src='//localhost:3117/livereload.js')


//- Libaries
script(src='//maps.googleapis.com/maps/api/js?sensor=false')

script(src='bower_components/underscore/underscore.js')
script(src='bower_components/angular/angular.js')
script(src='bower_components/angular-route/angular-route.js')
script(src='bower_components/angular-animate/angular-animate.js')
script(src='bower_components/angular-google-maps/dist/angular-google-maps.js')

//- Applications
script(src='/js/controllers/DashboardMainController.js')
script(src='/js/controllers/SearchController.js')
script(src='/js/controllers/DetailController.js')

//- Services
script(src='js/services/display.js')

//- Application
script(src='/js/app.js')
