.container
  .row
    .col-sm-3
      .list-header
        .list-group
          a.list-group-item(ng-href='#/search/{{key.replace(".", "/")}}', ng-repeat='(key, value) in totals')
            | {{::key.replace(".", "/")}}
            .badge {{::value}}

    .col-xs-12.col-sm-9
      .row
        .col-xs-12.col-sm-6.col-lg-4(ng-repeat='earthquake in earthquakes', ng-class="{true:'clear', false:''}[$index % resolutionGrid == 0]")
          include partials/list-item

  //- {{earthquakes}}
