//-
//- .list-header
//-   .list-group
//-     a.list-group-item(ng-href='#/search/{{key}}', ng-repeat='(key, value) in totals')
//-       {{key}}
//-       .badge {{value}}


h1 {{earthquake.region}}
p.byline {{earthquake.timedate}}

dl.list-main-item-body-dl
  dt Depth
  dd {{::earthquake.depth}}
  dt Magnitude
  dd {{::earthquake.magnitude}}
  dt Source
  dd {{::earthquake.magnitude}}
  dt Latitude
  dd {{::earthquake.lat}}
  dt Longitude
  dd {{::earthquake.lon}}

{{earthquake}}
