doctype html
html
  head
    title ANZ earthquakes
    link(rel='stylesheet', href='/styles/style.css')
  body(ng-app='Earthquake')

    header.header
      .container
        h2 Earthquakes

    .container(ng-view)
      block content

    include partials/scripts
