doctype html
html(ng-app='Earthquake')
  head
    title ANZ earthquakes
    link(rel='stylesheet', href='/styles/style.css')
  body(ng-controller="MainController")

    header.header
      .container
        h2: a(href="#/") Earthquakes

    .main(ng-view)
      block content

    .spinner(ng-if='showLoader')
      .bounce1
      .bounce2
      .bounce3

    include partials/scripts
