//-
//- .list-header
//-   .list-group
//-     a.list-group-item(ng-href='#/search/{{key}}', ng-repeat='(key, value) in totals')
//-       {{key}}
//-       .badge {{value}}

.row
  .col-xs-12.col-sm-6.col-md-4(ng-repeat='earthquake in earthquakes',  ng-class="{true:'clear', false:''}[$index % resolutionGrid == 0]")
    include partials/list-item
    
//- {{earthquakes}}
